.forgotpassword-title {
  font-size: 24px;
  font-weight: 300;
  color: #173a72;
}

.forgotpassword-para {
  padding: 20px 0;
  margin-bottom: 0;

  color: #4d4d4d;
}
.resetbtn {
  text-transform: uppercase;
}
.forgotpassword-logintext {
  color: #173a72;
  font-size: 20px;
}

.forgot-right-wrapper {
  padding: 0 20%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  .forgot-right-wrapper {
    padding: 20% 10%;
    justify-content: flex-start;
  }
}
