.sidebar-wrapper .nav-pills .nav-link.active svg path {
  fill: #1f75e8;
}

.sidebar-wrapper .nav-pills .nav-link svg path {
  fill: #636262;
}

.sidebar-wrapper .nav-pills .nav-link svg {
  margin-right: 10px;
  width: 25px;
}

.sidebar-wrapper .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border-left-color: #f2f7ff;
  border-radius: 0 30px 30px 0;
}

.sidebar-wrapper .nav-pills .nav-link {
  margin: 20px 10px -10px 0;
}

.settings-tab-content-wrapper {
  margin: 20px;
  background: #fff;
  padding: 20px;
}

.personalinfo-label {
  font-size: 14px;
  align-self: center;
}

.card .h4 {
  font-weight: 400;
}

.setting-profile-photo {
  position: relative;
  border-radius: 50%;
  text-align: center;
  width: 80px;
  margin: 0 auto;
  overflow: hidden;
}

.setting-profile-photo .camera-icon-span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #777;
}

.user-upload-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.setting-profile-photo input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

@media (max-width: 767px) {
  .main-wrapper {
    min-height: calc(100vh - 76px);
  }
}
