.signinpage .left-wrapper {
  width: 50%;
  box-shadow: none;
  padding: 0;
}

.signin-left-img {
  height: 100vh;
}

/* .signinpage .left-wrapper > img {
  width: 100%;
} */

.left-wrapper {
  /* position: relative; */
  position: fixed;
  width: 41%;
  padding: 10px 0;
  box-shadow: 0 3px 18px #fdce0d;
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  align-items: center;
}
.banner-logo {
  /* transform: translateY(25%); */
}

.signin-left-logo {
  align-self: flex-start;
  margin: 0 auto;
  width: 70%;
  display: block;
}

.signin-left-top-pattern {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
}

.signin-left-bottom-pattern {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 40%;
}

.right-wrapper {
  position: relative;
  padding: 7% 20%;
  text-align: center;
  height: 100%;
}

.signin-title {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 40px;
}

.register-form .form-group {
  margin-bottom: 1.5rem;
}

.fanatics-sign-form .form-control {
  padding: 12px;
  height: auto;
  font-size: 16px;
  line-height: 1.4;
  box-shadow: 0 3px 6px 0 rgba(218, 218, 218, 0.6);
  /* box-shadow: none; */
  border: 0;
  /* border: 1px solid #707070; */
}

.password-group .fas {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-group .form-control {
  padding-right: 50px;
}
.form-group.password-group {
  position: relative;
}
.forgotpassword-text {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #4d4d4d;
  text-decoration: none;
}
.forgotpassword-text:hover {
  color: #4d4d4d;
  text-decoration: none;
}

.login .btn-login {
  background: #00508b;
  /* border-radius: 4px; */
  margin-top: 25px;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
}

.btn-login:hover {
  border-color: #dbb20d;
}

.btn-login.hvr-radial-out:before {
  background: #dbb20d;
  border-radius: 30px;
}
.extra-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}
.signin-icon:hover {
  text-decoration: none;
}
.fb-icon {
  margin-right: 15px;
}
.google-icon {
  margin-left: 15px;
}
.user-text {
  color: #9f9f9f;
  margin-top: 40px;
}
.createaccount-link {
  color: #173a72;
  text-decoration: underline;
}
/* .createaccount-link:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 125px;
  background: #173a72;
  bottom: 130px;
} */
.terms-para {
  position: absolute;
  bottom: 2%;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-weight: 400;
}

@media (max-width: 1300px) {
  .signin-left-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .right-wrapper {
    position: relative;
    /* padding: 10% 10%; */
    text-align: center;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .signin-left-logo {
    margin-top: 30%;
  }
}

@media (max-width: 991px) {
  .signin-left-img {
    display: none;
  }

  .right-wrapper {
    position: relative;
    padding: 15% 10%;
  }
}

@media (max-width: 767px) {
  .left-wrapper {
    height: 400px;
    min-height: 0;
  }

  .right-wrapper {
    padding: 15% 20px;
  }
}

@media (min-width: 2000px) {
  .signinpage .right-wrapper,
  .forgot-right-wrapper {
    padding: 20% 15% 15% 30% !important;
    display: block !important;
  }
}
